<button (click)="createNewProduct()">Nuevo</button>
<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
</div>
<div class="product-detail" [class.active] = "showProductDetail">
  <div *ngIf="prodductChosen">
    <button (click)="toggleProductDetail()">Close</button>
    <h1>{{ prodductChosen.title }}</h1>
    <p>{{ prodductChosen.description }}</p>
    <button (click)="updateProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>
